<!-- <mat-tab-group>
  <mat-tab label="Call Me">
    <mat-card> + 91-9980957305</mat-card>
  </mat-tab>
  <mat-tab label="Email Me">
    <mat-card> mukul.puspam@gmail.com</mat-card>
  </mat-tab>
  <mat-tab label="Meet Me">
    <mat-card> Global Village Back gate, R.R. Nagar, Banglore </mat-card>
  </mat-tab>
</mat-tab-group>
 -->

<ul>
  <li>
    <a href="#">
      <h2>Call Me</h2>
      <h4>+ 91-9980957305</h4>
    </a>
  </li>
  <li>
    <a href="#">
      <h2>Email Me</h2>
      <h4>mukul.puspam @gmail.com</h4>
    </a>
  </li>
  <li>
    <a href="#">
      <h2>Meet Me</h2>
      <h4>GLobal Village Back gate, R.R. Nagar, Banglore </h4>
    </a>
  </li>
</ul>
