<mat-card *ngFor="let keys of value.project;">
  <mat-card-header>
    <mat-card-title><img class="projectIcon" src="{{keys.imageSrc}}"/><span class="title">{{keys.title}}</span></mat-card-title>
    <mat-card-subtitle><span class="description">{{keys.description}}</span></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngFor="let tech of keys.technology">
      <mat-list-item>
        <span class="key"> {{tech.name}} </span>
        <span class="key">:</span>
        <span class="value">{{tech.value}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="{{keys.link}}">Link</a>
  </mat-card-actions>
</mat-card>
