.container {
    display: flex;
    flex-flow: inherit;
    /* justify-content: space-around; */
}
.sideNav {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.sideNav button {
    margin: 1%;
}