<mat-toolbar class="title" color="primary">
  <img src="{{imagePath}}" />
  <span class="header">Digital Portfolio</span>
  <nav class="buttons">
    <a mat-raised-button color="warn" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a mat-raised-button color="warn" routerLink="/my-apps" routerLinkActive="active">MyApps</a>
    <a mat-raised-button color="warn" routerLink="/contact-me" routerLinkActive="active">ContactMe</a>
  </nav>

</mat-toolbar>
<!-- <mat-toolbar class="title">
  <span>My Application</span>
</mat-toolbar> -->
<!-- 
<mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
